[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=uwsgi -i /home/deploy/welding_api/.config/uwsgi/welding_api.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
